
    <footer class="page-footer font-small blue pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-10 mt-md-0 mt-3" style="text-align: center;">

              <!-- Content -->
              <h5 class="text-uppercase">Bądź z nami:</h5>
              <p>Nasze społecznościówki</p>

                 <!-- Facebook -->
                <a class="fb-ic">
                  <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x ml-5"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                  <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!-- Google +-->
                <a class="gplus-ic">
                  <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3 ">

                <!-- Links -->
                <h5 class="text-uppercase mr-5">Linki</h5>

                <ul class="list-unstyled mr-5">
                  <li>
                    <a href="{% url 'about-us' %}">O nas</a>
                  </li>
                  <li>
                    <a href="{% url 'cooperation' %}">Współpraca</a>
                  </li>
                  <li>
                    <a href="#!">Reklama</a>
                  </li>
                  <li>
                    <a href="{% url 'contact' %}">Kontakt</a>
                  </li>
                </ul>
            </div>
          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Własność
          <a href="#"> Polskie Targi S.J. Wszelkie prawa zastrzeżone</a>
        </div>
        <!-- Copyright -->

    </footer>