dj-database-url==0.5.0
Django==2.1.5
django-contrib-comments==1.9.0
django-heroku==0.3.1
django-widget-tweaks==1.4.3
gunicorn==19.9.0
lxml==4.3.0
Pillow==5.4.1
psycopg2-binary>=2.7.6.1
python-dateutil==2.7.5
python-docx==0.8.10
pytz==2018.9
six==1.12.0
text-unidecode==1.2
whitenoise==4.1.2
