#login .container #login-row #login-column #login-box {
  margin-top: 10px;
  max-width: 600px;
  height: 360px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}


#signin #signin-row #signin-column #signin-box{
  margin-top: 10px;
  max-width: 380px;
  height: auto;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}


#signin #signin-row #signin-column #signin-box signin-form {
  /*padding: 20px;*/
}

.margins {
  margin-top: 15px !important;
}


.form-goups {
  margin-left: auto;
  margin-right: auto;
}
.form-groups label {
  text-align: center;
}

.form-groups label input {
  width: 90%;
}