{% extends "targi/__base__.html" %}
{% block title %}Zresetuj hasło{% endblock %}
{% block content %}
    <div style="text-align:center;">
    <h2>Zapomniałeś hasła?</h2>
        <p>Na podany przez Ciebie adres mailowy wysłaliśmy instrukcję do ustawienia nowego hasła.</p>
        <p>Jeżeli Twoja skrzynka pocztowa jest pusta, upewnij się że wpisałeś poprawny adres e-mail.</p>
        <p>Jeżeli mimo poprawnego maila nie otrzymujesz wiadomości,<br>
        <strong class="btn btn-outline-secondary"><a href="{% url 'contact' %}">skontaktuj się z nami</a></strong></p>
    </div>
{% endblock %}