{% extends "targi/__base__.html" %}
{% block title %}Zmień hasło{% endblock %}
{% block content %}
<h1>Zmiana hasła</h1>
<p style="text-transform:uppercase; text-align:center;">Uzupełnij formularz aby móc zmienić hasło</p>
<div class="col-md-6 offset-3">
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'targi/change_reset_form.html' %}
            <div style="margin-bottom: 10px;">
            <input type="submit" class="btn-lg btn-info" value="Zapisz hasło">
            </div>
        </form>
</div>
{% endblock %}