{% extends "targi/__base__.html" %}
{% block title %}Resetowanie hasła{% endblock %}
{% block content %}
    <h1>Ustaw nowe hasło</h1>
    <div class="row">
        {% if validlink %}
            <p class="p-info">Please enter your new password twice:</p>
            <div class="col-md-6"></div>
                <form action="." method="post">
                    {% csrf_token %}
                    {% include 'targi/change_reset_form.html' %}
                    <p><input type="submit" value="Zmień hasło" /></p>
                </form>
            {% else %}
        <p class="p-error">Link do resetowania hasła jest nieprawidłowy. Możliwe że został już użyty. Spróbuj jeszcze raz podać swoje dane</p>
        {% endif %}
    </div>
    {% endblock %}